:root {
  -webkit-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;

  /* Light */
  --light-background: rgb(222, 231, 235);
  --light-text: #131313e0;
  --light-primary: #242424c0;
  --light-border: 1px solid #aebbd6c9;
  --light-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.171);

  /* Dark */
  --dark-background: #131313;
  --dark-text: #e0e0e0;
  --dark-primary: #c0c0c0;
  --dark-border: 1px solid #3030309a;
  --dark-box-shadow: 1px 1px 20px rgba(214, 214, 214, 0.096);

  /* Transition */
  --transition-duration: 1s;
}

/* Dark */
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-background);
    --text: var(--dark-text);
    --primary: var(--dark-primary);
    --border: var(--dark-border);
    --box-shadow: var(--dark-box-shadow);
  }

  body {
    transition: background-color var(--transition-duration);
  }

  .container {
    transition:
      background-color var(--transition-duration),
      border-color var(--transition-duration),
      box-shadow var(--transition-duration);
  }
}

/* Light */
@media (prefers-color-scheme: light) {
  :root {
    --background: var(--light-background);
    --text: var(--light-text);
    --primary: var(--light-primary);
    --border: var(--light-border);
    --box-shadow: var(--light-box-shadow);
  }

  body {
    transition: background-color var(--transition-duration);
  }

  .container {
    transition:
      background-color var(--transition-duration),
      border-color var(--transition-duration),
      box-shadow var(--transition-duration);
  }
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  letter-spacing: 0.1rem;
  -webkit-app-region: drag;
  color: var(--text);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
}

#weather {
  border-radius: 20px;
  background-color: var(--background);
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  text-align: center;
}

.weather-icon {
  font-size: 2rem;
  margin-bottom: 10px;
  width: 50px;
}

.weather-info {
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: bold;
}
