/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Custom font face */
@font-face {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  src: url();
}

/* Global CSS rules */
* {
  padding: 0px;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  box-sizing: border-box;
}

/* Root variables */
:root {
  -webkit-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  --background: #131313;
  --background-secondary: #1b1b1b;
  --text: #e0e0e0;
  --secondary-text: #878a8c;
  --border: 1px solid #3030309a;
  --box-shadow: 1px 1px 20px rgba(214, 214, 214, 0.096);
}

/* Body styles */
body {
  color: var(--text);
  -webkit-app-region: drag;
}

/* Main container styles */
main {
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  background-color: var(--background);
  border-radius: 10px;
  height: 100vh;
  padding: 20px;
}

/* Paragraph styles */
p {
  color: var(--dark-text);
}

/* Message container styles */
#message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--background);
  border-radius: 10px;
  height: 100vh;
  font-weight: bold;
}

/* Loading spinner styles */
#loading {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #1abc9c;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

/* Spin animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
