:root {
  padding: 0;
  margin: 0;
  --text: #d8d8d8;
    --background: #030303;
    --primary: #cecece;
}

@font-face {
  font-family: "Aleo-ExtraBold";
  src: url("Aleo-ExtraBold.ttf");
}

body {
  -webkit-app-region: drag;
  padding: 0;
  margin: 0;
}

.container {
  -webkit-app-region: no-drag;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  border-radius: 20px;
}

main {
  margin: 0px;
  padding: 0px;
  background-color: var(--background);
  font-weight: 500;
  letter-spacing: 0.4rem;
  width: 100%;
  height: 100vh;
  display: flex;
  place-items: center;
  border-radius: 20px;
}

select {
  background-color: var(--background);
  color: var(--text);
  border: 1px solid var(--text);
  border-radius: 5px;
  padding: 3px;
}

input {
  background-color: var(--background);
  color: var(--text);
  border: 1px solid var(--text);
  border-radius: 5px;
  padding: 3px;
}

input:focus {
  outline: none;
}
