/* Define custom font */
@font-face {
  font-family: 'Aleo-ExtraBold';
  src: url('Aleo-ExtraBold.ttf');
}

/* Define root variables */
:root {
  padding: 0;
  margin: 0;

  --background: #131313;
  --background-secondary: #1b1b1b;
  --text: #e0e0e0;
  --secondary-text: #878a8c;
  --border: transparent;
  --box-shadow: 1px 1px 20px rgba(214, 214, 214, 0.096);
}

/* Reset body styles */
body {
  padding: 0;
  margin: 0;
}

/* Main container styles */
main {
  margin: 0px;
  padding: 0px;
  font-weight: 500;
  letter-spacing: 0.4rem;
  background-color: var(--background);
  height: 100vh;
  padding-left: 5px;
  display: flex;
  width: 320px;
  place-items: center;
  border-radius: 10px;
  flex-direction: column;
}

/* Draggable region styles */
.draggable {
  -webkit-app-region: drag;
  height: 100%;
  width: 100%;
}

/* Container styles */
.container {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  height: fit-content;
  background-color: var(--background);
  padding: 0;
  margin: 0;
  border-radius: 10px;
}

/* Select element styles */
select {
  background-color: var(--background);
  color: var(--text);
  border: var(--border);
  border-radius: 10px;
  height: 32px;
}

select:focus {
  outline: transparent;
  border: transparent;
}

/* Input element styles */
input {
  background-color: var(--background);
  color: var(--text);
  border: var(--border);
  padding-left: 15px;
  height: 30px;
}

input:focus {
  outline: transparent;
  border: transparent;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}
