:root {
  padding: 0;
  margin: 0;

  /* Light */
  --light-background: rgb(222, 231, 235);
  --light-text: #131313e0;
  --light-primary: #242424c0;
  --light-border: 1px solid #aebbd6c9;
  --light-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.171);

  /* Dark */
  --dark-background: #131313;
  --dark-text: #e0e0e0;
  --dark-primary: #c0c0c0;
  --dark-border: 1px solid #3030309a;
  --dark-box-shadow: 1px 1px 20px rgba(214, 214, 214, 0.096);
}

/* Dark */
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-background);
    --text: var(--dark-text);
    --primary: var(--dark-primary);
    --border: var(--dark-border);
    --box-shadow: var(--dark-box-shadow);
  }
}

::-webkit-scrollbar {
  display: none;
}

/* Light */
@media (prefers-color-scheme: light) {
  :root {
    --background: var(--light-background);
    --text: var(--light-text);
    --primary: var(--light-primary);
    --border: var(--light-border);
    --box-shadow: var(--light-box-shadow);
  }
}

@font-face {
  font-family: "Aleo-ExtraBold";
  src: url("Aleo-ExtraBold.ttf");
}

body {
  padding: 0;
  margin: 0;
}

.draggable {
  -webkit-app-region: drag;
  height: 100%;
  width: 100%;
}

.container {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  height: fit-content;
  background-color: var(--background);

  padding: 0;
  margin: 0;
  border-radius: 10px;
}

main {
  margin: 0px;
  padding: 0px;
  font-weight: 500;
  letter-spacing: 0.4rem;
  background-color: var(--background);
  border: var(--border);
  height: 60px;
  padding-left: 5px;
  box-shadow: var(--box-shadow);
  display: flex;
  width: 320px;
  place-items: center;
  border-radius: 10px;
  flex-direction: column;
}

select {
  background-color: var(--background);
  color: var(--text);
  border: 1px solid rgba(0, 0, 0, 0.089);
  border-radius: 10px;
  height: 32px;
}

select:focus {
  outline: transparent;
  border: transparent;
}

input {
  background-color: var(--background);
  color: var(--text);
  border: 1px solid var(--text);
  padding-left: 15px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.089);
  border-radius: 10px;
}

.input:focus {
  outline: transparent;
  border: transparent;
}
