@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  -webkit-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;

  /* Light */
  --light-background: rgb(222, 231, 235);
  --light-text: #131313e0;
  --light-primary: #242424c0;
  --light-border: 1px solid #aebbd6c9;
  --light-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.171);

  /* Dark */
  --dark-background: #131313;
  --dark-text: #e0e0e0;
  --dark-primary: #c0c0c0;
  --dark-border: 1px solid #3030309a;
  --dark-box-shadow: 1px 1px 20px rgba(214, 214, 214, 0.096);

  /* Transition */
  --transition-duration: 1s;
}

/* Dark */
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-background);
    --text: var(--dark-text);
    --primary: var(--dark-primary);
    --border: var(--dark-border);
    --box-shadow: var(--dark-box-shadow);
  }

  body {
    transition: background-color var(--transition-duration);
  }

  .container {
    transition:
      background-color var(--transition-duration),
      border-color var(--transition-duration),
      box-shadow var(--transition-duration);
  }
}

/* Light */
@media (prefers-color-scheme: light) {
  :root {
    --background: var(--light-background);
    --text: var(--light-text);
    --primary: var(--light-primary);
    --border: var(--light-border);
    --box-shadow: var(--light-box-shadow);
  }

  body {
    transition: background-color var(--transition-duration);
  }

  .container {
    transition:
      background-color var(--transition-duration),
      border-color var(--transition-duration),
      box-shadow var(--transition-duration);
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  letter-spacing: 0.1rem;
  -webkit-app-region: drag;
  color: var(--text);
}

p {
  margin: 0;
  padding: 0;
}

#weather-icon {
  font-family: "Montserrat", sans-serif;
}
#temp {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
}
