:root {
  -webkit-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  --text: #cbd5e1;
  --background: #09090b;
  --primary: #94a3b8;
}

@font-face {
  font-family: "Aleo-ExtraBold";
  src: url("Aleo-ExtraBold.ttf");
}

body {
  padding: 0;
  margin: 0;
  font-weight: 500;
  letter-spacing: 0.4rem;
  width: 100%;
  -webkit-app-region: drag;
}

.container h1 {
  font-size: 4rem;
  font-weight: bold;
  color: var(--text);
  text-align: center;
  margin: 0px;
  overflow-wrap: break-word;
  word-break: break-all;
}

.container h3 {
  font-size: 2rem;
  color: var(--primary);
  margin-bottom: 1rem;
}

.container {
  border-radius: 20px;
  background-color: var(--background);
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 300px) {
  .container h1 {
    font-size: 2.5rem;
    padding: 10px;
  }

  .container h3 {
    font-size: 1rem;
  }
}
