@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  -webkit-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;

  /* Light */
  --light-background: rgb(222, 231, 235);
  --light-text: #131313e0;
  --light-primary: #242424c0;
  --light-border: 1px solid #aebbd6c9;

  /* Dark */
  --dark-background: #131313;
  --dark-text: #e0e0e0;
  --dark-primary: #c0c0c0;
  --dark-border: 1px solid #3030309a;

  /* Transition */
  --transition-duration: 1s;
}

/* Dark */
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-background);
    --text: var(--dark-text);
    --primary: var(--dark-primary);
    --border: var(--dark-border);
  }

  body {
    transition: background-color var(--transition-duration);
  }

  .container {
    transition:
      background-color var(--transition-duration),
      border-color var(--transition-duration);
  }
}

/* Light */
@media (prefers-color-scheme: light) {
  :root {
    --background: var(--light-background);
    --text: var(--light-text);
    --primary: var(--light-primary);
    --border: var(--light-border);
  }

  body {
    transition: background-color var(--transition-duration);
  }

  .container {
    transition:
      background-color var(--transition-duration),
      border-color var(--transition-duration);
  }
}

body {
  padding: 0;
  margin: 0;
  font-weight: 500;
  -webkit-app-region: drag;
  width: 100%;
}

.container h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: var(--text);
  text-align: center;
  margin: 0px;
  margin-bottom: -30px;
}

.container h3 {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  color: var(--primary);
  margin-bottom: 1rem;
}

.container {
  border-radius: 10px;
  background-color: var(--background);
  padding-top: 12px;
  padding-bottom: 12px;
  border: var(--border);
  display: flex;
  width: 95%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
}

@media screen and (max-width: 300px) {
  .container h1 {
    font-size: 2.5rem;
    padding: 10px;
  }

  .container h3 {
    font-size: 1rem;
  }
}
