/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Custom font face */
@font-face {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  src: url(); /* Add the URL of the font file here */
}

/* Global CSS Reset */
* {
  padding: 0px;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Root variables */
:root {
  -webkit-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;

  /* Default color variables */
  --background: #131313;
  --text: #f2f4f5;
  --secondary-text: #878a8c;
  --border: 1px solid #3030309a;
  --box-shadow: 1px 1px 20px rgba(214, 214, 214, 0.096);
}

/* Main container */
main {
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  background-color: var(--background);
  border-radius: 10px;
  height: fit-content;
  padding: 20px;
}

/* Body styles */
body {
  color: var(--text);
}

/* Heading styles */
h1 {
  -webkit-app-region: drag;
}

/* Anchor styles */
a {
  -webkit-app-region: no-drag;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 15px;
  background: #141414;
}

::-webkit-scrollbar-track {
  box-shadow: #e9e9e9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1d1d1d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #292929;
}

/* Paragraph styles */
p {
  color: var(--dark-text);
}

/* Message container */
#message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--background);
  border-radius: 10px;
  height: 100vh;
  font-weight: bold;
}

/* Loading spinner */
#loading {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #1abc9c;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Header styles */
#header {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark-text);
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 10px;
}

/* Version styles */
#version {
  font-size: 12px;
}

/* Container styles */
#container {
  width: 100%;
}

/* Item styles */
#item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  display: none;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

/* Title styles */
#title {
  color: var(--dark-text);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

#title:hover {
  text-decoration: underline;
}

/* Author styles */
#author {
  cursor: pointer;
}

#author:hover {
  text-decoration: underline;
}

/* Publication date and author styles */
#pubDate,
#author {
  color: var(--dark-secondary-text);
  font-size: 14px;
}

#author:before {
  content: "by ";
}

/* Scroll to top button styles */
#scrollTopButton {
  font-size: small;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--dark-background-secondary);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#scrollTopButton:hover {
  background-color: var(--dark-secondary-text);
}
