@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  -webkit-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;

  /* Dark */
  --dark-background: #131313;
  --dark-text: #e0e0e0;
  --dark-primary: #c0c0c0;
  --dark-border: 1px solid #3030309a;
  --dark-box-shadow: 1px 1px 20px rgba(214, 214, 214, 0.096);

  /* Transition */
  --transition-duration: 1s;
}

:root {
  --background: var(--dark-background);
  --text: var(--dark-text);
  --primary: var(--dark-primary);
  --border: var(--dark-border);
  --box-shadow: var(--dark-box-shadow);
}

:root,
body {
  transition: background-color var(--transition-duration);
}
p {
  color: var(--dark-text);
}

@font-face {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  src: url();
}

* {
  padding: 0px;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  box-sizing: border-box;
}

body {
  color: var(--text);
  -webkit-app-region: drag;
}

main {
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  background-color: var(--background);
  border-radius: 10px;
  height: 100vh;
  padding: 20px;
}

#gpu-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  background-color: var(--background);
  border-radius: 10px;
  height: 100vh;
  width: 100%;
  background-color: var(--background);
}

#message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--background);
  border-radius: 10px;
  height: 100vh;
  font-weight: bold;
}

#loading {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #1abc9c;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
