@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  src: url();
}

* {
  padding: 0px;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  -webkit-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;

  /* Default color variables */
  --background: #131313;
  --text: #f2f4f5;
  --secondary-text: #878a8c;
  --primary: #c0c0c0;
  --border: 1px solid #3030309a;
  --box-shadow: 1px 1px 20px rgba(214, 214, 214, 0.096);
}

body {
  color: var(--text);
  -webkit-app-region: drag;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--background);
  border-radius: 10px;
  height: 100vh;
}

p {
  color: var(--dark-text);
}

.container {
  transition: background-color var(--transition-duration),
    border-color var(--transition-duration),
    box-shadow var(--transition-duration);
}

#container {
  width: 100%;
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}

#diskUsage {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-bottom: -10px;
  color: var(--text);
}

#barContainer {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  height: 20px;
  border-radius: 50px;
  background-color: #1392fb;
}

#bar {
  width: 90%;
  background: rgb(68, 125, 231);
  background: linear-gradient(
    90deg,
    rgba(47, 103, 209, 1) 20%,
    rgba(38, 98, 210, 1) 32%,
    rgba(29, 90, 204, 1) 44%,
    rgba(23, 87, 205, 0.9724264705882353) 61%,
    rgba(12, 77, 197, 0.9724264705882353) 78%,
    rgba(24, 73, 163, 1) 100%
  );
  height: 20px;
  color: rgba(255, 255, 255, 0.644);
  border-radius: 50px;
  font-size: 15px;
  padding-left: 15px;
}
