/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Defines base styles for elements
 * Applies default styling to root, body, navigation, paragraphs, headings and main elements
 */

@layer base {
  :root {
    @apply m-0 select-none bg-[#161616] p-0 text-white;
  }

  body {
    @apply p-0 m-0;
  }

  nav {
    @apply flex h-fit w-full flex-row items-center justify-between bg-[#141414] font-bold text-gray-300;
  }
  p {
    @apply p-0 m-0 text-sm font-normal;
  }

  h1 {
    @apply p-0 m-0 text-2xl;
  }
  main {
    @apply flex flex-col gap-2;
  }
}

/**
 * Defines styles for common UI components
 * This layer defines styles for reusable UI components like buttons, lists and icons.
 */
@layer components {
  .drag-region {
    @apply w-full;
  }
  .nav-btn {
    @apply w-8 h-8 font-bold transition-colors duration-300 bg-transparent border-0 rounded-md cursor-default hover:bg-black/50;
  }

  .nav-btn-container {
    @apply flex flex-row items-center gap-2 w-fit;
  }

  .widget-list-item {
    @apply flex flex-row flex-wrap items-center justify-between w-full h-auto font-bold text-left bg-gray-900 hover:bg-gray-950;
  }

  .icon {
    @apply inline-block w-6 h-6 m-1 bg-cover border-none rounded-md cursor-pointer;
  }
}

/**
 * Defines utility classes for common SVG icons
*/
@layer utilities {
  .eye-visible {
    @apply bg-[#6666ff] bg-[url("../assets/eye.svg")];
  }

  .eye-invisible {
    @apply bg-[#6666ff] bg-[url("../assets/eye-slash.svg")];
  }

  .settings-icon {
    @apply bg-[#6666ff] bg-[url("../assets/gear-six.svg")];
  }
  .draggable {
    -webkit-app-region: drag;
  }
}
