<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <title>Disk Usage</title>
  </head>

  <body id="body" class="draggable">
    <div class="container"></div>

    <script>
      const data = window.electronAPI.getDiskUsage().then((data) => {
        console.log(data);
      });
    </script>
  </body>
</html>
